/*header*/
*{
	font-family: Open Sans;
}

.logo-heart{
	padding-left: 20px;
}

/*termino header*/
.background-green{
	background-color: #6FC17C;
	color: White;
	padding: 3% 3% 3% 3%;
}
.background-green ul{
	list-style: none;
	display: inline-block;
	float: right;
}
.background-green li{
	display: inline-block;
	font-size: 16px;
	margin: 20% 5px 0% 0%;
}
.background-green a{
	text-decoration: none;
	color: #E6C8C8;
}
.background-green a:hover{
	color: white;
	font-weight: bold;
}
/*desde aqui se trabaja */
.blog{
	background-color: #ded8d8;
	padding: 3% 0% 3% 0%;
}
.blog input{
	width: 80%;
	color: #A4A4A4;
	height: 30px;
}
.blog button{
	margin-bottom: 3%;
}
.blog input{
	margin-bottom: 5%;
}
.fondo-blanco{
	background-color: white;
}
.small-icons{
	display: inline-block;
}
.busqueda{
	margin-bottom: 5%;
}
.caja-img .col-md-6 {
	padding-left: 0%;
}
.blog h3{
	margin-top: 5%;
	margin-bottom: 5%;
}
.button-list button{
	font-size: 9px;
	margin-bottom: 5px;
}
.blog li{
	list-style: none;
}
.blogol a{
	text-decoration: none;
	color: black;
}
.blog ol a:hover{
	text-decoration: none;
	color: #A7A0CD;
	font-weight: bolder;
}
/*Background blue*/
.background-blue{
	background-color: #515D83;
	color: white;
	padding: 3% 3% 3% 3%;
}
.background-blue ul{
	padding-left: 0%;	
}
.background-blue li{
	list-style: none; 
}
.background-blue p{
	font-size: 12px;
}
.background-blue a{
	color: white;
	text-decoration: none;
}
.background-blue a:hover{
	color: #A7A0CD;
}
.background-blue input{
	border-radius: 5px;
	color: #A4A4A4;
}
/*footer*/
footer{
	background-color: #3B3F51;
	color: white;
	padding: 2% 0% 2% 0%;
}
footer ol{
	text-align: right;
}
footer li{
	display: inline-block;
	margin-right: 10px;
	text-align: right;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{
	color: #A7A0CD;
	font-weight: bolder; 
	text-decoration: none;
}
footer i{
	font-size: 20px;
}