@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

* {
	font-family: Open Sans;
}

/*COMIENZO DE HEADER*/
.hamburger{
	display: none;
	background-color: #1D0202;
	border: 1px solid blue;
	width: 20px;
	height: 20px;
	color: white;
	float: right;
}

.header{
	background-color: #3B3F51;
	padding: 2%;
}

.logo-heart{
	padding-left: 20px;
}

.menun ul{
	font-size: 12px;
	text-decoration: none;
}

.menu li{
	display: inline-block;
	font-size: 12px;
	color: white;
	text-decoration: none;
	padding: 10px;
}

.menu a{
	color: #E6C8C8;
}

.menu a:hover{
	background-color: #0A414B;
	padding: 10px;
	text-decoration: none;
}

/*FIN SECCION HEADER*/

/*COMIENZO SECCION IMAGEN DE FONDO*/
.imagen{
	background-image: url(../images/slider/bg1.jpg);
	max-width: 100%;
	height: 500px;
	color: white;
	background-size: cover;
	text-align: left;
	padding-left: 80px;
	padding-top: 200px;
}

/*FIN SECCION IMAGEN DE FONDO*/

/*COMIENZO ICONOS REDES SOCIALES*/
.background-green {
	background-color: #0DD16E;
	padding: 50px;
}

.twitter{
	font-size: 35px;
	color: white;
	-
}

.facebook{
	font-size: 35px;
	color: white;
}

.google{
	font-size: 35px;
	color: white;
}

/*FIN SECCION ICONOS REDES SOCIALES*/

/*COMIENZO SECCION 3 IMAGENES*/
.Latest-Project{
	background-color: white;
	margin-top: 2%;
	padding: 80px;
}

.background-white{
	border: 5px;
	background-color: white;
	margin: 10px;
}

input {
	color: white;
	background-color: #EC4336;
}


/*FIN SECCION 3 IMAGENES*/


/*COMIENZO RESPONSIVE*/
@media (min-width: 768px) {
	.hamburger{
		display: block;
	}
	.menu {
		display: none;
	}
	
}