@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

* {
	font-family: Open Sans;
}

/*COMIENZO DE HEADER*/

header{
	background-color: #3B3F51;
	padding: 2%;
}

.logo-heart{
	padding-left: 20px;
}

.menun ul{
	font-size: 12px;
	text-decoration: none;
}

.menu li{
	display: inline-block;
	font-size: 12px;
	color: white;
	text-decoration: none;
	padding: 10px;
}

.menu a{
	color: #E6C8C8;
}

.menu a:hover{
	background-color: #0A414B;
	padding: 10px;
	text-decoration: none;
}
/*FIN SECCION HEADER*/

/*COMIENZO SECCION IMAGEN DE FONDO*/
.imagen{
	background-image: url(../images/slider/bg1.jpg);
	width: 100%;
	height: 500px;
	color: white;
	background-size: cover;
	text-align: left;
	padding-left: 80px;
	padding-top: 200px;
}
/*FIN SECCION IMAGEN DE FONDO*/

/*COMIENZO ICONOS REDES SOCIALES*/
.background-green {
	background-color: #6FC176;
	padding: 50px;
}

.twitter{
	font-size: 30px;
	color: white;
}

.facebook{
	font-size: 30px;
	color: white;
}

.google{
	font-size: 30px;
	color: white;
}

.container-icon{
	background-color: #52745D;
	border-radius: 50%;
	padding: 10px;
	height: 50px;
	width: 50px;
	text-align: center;
	margin-top: 25px;
	margin-right: 10px;
}
/*FIN SECCION ICONOS REDES SOCIALES*/

/*COMIENZO SECCION 3 IMAGENES*/
.Latest-Project{
	background-color: #DED8D8;
	padding: 50px;
}
.background-white img{
	width: 100%;
}

.background-white p{
	font-size: 12px;
}

.background-white{
	border: 12px solid #B2ACAC;
	background-color: white;
	margin: 10px;
	padding-left: 10px;	
}

.button{
	color: white;
	background-color: black;
	border-radius: 5px;
}
/*FIN SECCION 3 IMAGENES*/
/* estilos section (aurea)*/
.background-orange{
	background-color: #EC4336;
	color: white;
	padding: 3% 0% 3% 0%;
	font-family: Open Sanz;
}
.background-orange h2{
	font-size: 35px;
	text-align: center;
}
.background-orange p{
	text-align: center;
}
.caja{
	border-left: 3px solid white;
	padding: 0px 0px 10px 10px;
}
.background-blue{
	background-color: #515D83;
	color: white;
	padding: 3% 0% 3% 0%;
	font-family: Open Sanz;
}
.background-blue ul{
	padding-left: 0%;	
}
.background-blue li{
	list-style: none; 
}
.background-blue p{
	font-size: 16px;
}
.background-blue a{
	color: white;
	text-decoration: none;
}
.background-blue a:hover{
	color: #A7A0CD;
}
.background-blue input{
	border-radius: 5px;
	color: #A4A4A4;
}
footer{
	background-color: #3A4361;
	color: white;
	padding: 2% 0% 2% 0%;
	font-family: Open Sanz;
}
footer ol{
	text-align: right;
}
footer li{
	display: inline-block;
	margin-right: 10px;
	text-align: right;
}
footer a{
	color: white;
}
footer a:hover{
	color: #A7A0CD;
}
 footer i{
	font-size: 20px;
}
