@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

* {
	font-family: Open Sans;
}

/*FONDO VERDE*/
.background-green{
	background-color: #6FC17C;
	color: White;
	font-family: Open Sans;
	padding: 3% 3% 3% 3%;
}
.background-green ul{
	list-style: none;
	display: inline-block;
	float: right;
}
.background-green li{
	display: inline-block;
	font-size: 16px;
	margin: 20% 5px 0% 0%;
}
.background-green a{
	text-decoration: none;
	color: #E6C8C8;
}
.background-green a:hover{
	color: white;
}


.text-up{
	text-align: center;
	font-size: 
}


/*COMIENZO ICONOS REDES SOCIALES*/
.background-gray{
	background-color: #6FC176;
	padding: 50px;
}

.windows{
	font-size: 30px;
	color: #48DB56;
}

.android{
	font-size: 40px;
	color: #48DB56;
}

.apple{
	font-size: 40px;
	color: #48DB56;
}

.linux{
	font-size: 40px;
	color: #48DB56;
}

.dribbble{
	font-size: 40px;
	color: #48DB56;
}

.google{
	font-size: 40px;
	color: #48DB56;
}

.container-icon{
	background-color: #4E4F88;
	border-radius: 50%;
	padding: 12px;
	height: 65px;
	width: 65px;
	text-align: center;
	margin-top: 20px;
	margin-right: 10px;
}

/*FIN SECCION ICONOS REDES SOCIALES*/

.text-down{
	text-align: center;
	font-size: 
}

/*Background blue*/
.background-blue{
	background-color: #515D83;
	color: white;
	padding: 3% 3% 3% 3%;
}
.background-blue ul{
	padding-left: 0%;	
}
.background-blue li{
	list-style: none; 
}
.background-blue p{
	font-size: 12px;
}
.background-blue a{
	color: white;
	text-decoration: none;
}
.background-blue a:hover{
	color: #A7A0CD;
}
.background-blue input{
	border-radius: 5px;
	color: #A4A4A4;
}
/*footer*/
footer{
	background-color: #3B3F51;
	color: white;
	padding: 2% 0% 2% 0%;
}
footer ol{
	text-align: right;
}
footer li{
	display: inline-block;
	margin-right: 10px;
	text-align: right;
}
footer a{
	color: white;
	text-decoration: none;
}
footer a:hover{
	color: #A7A0CD;
	font-weight: bolder; 
	text-decoration: none;
}
footer i{
	font-size: 20px;
}
